
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

li {
    display: inline-table;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
body {
    background-image: url(images/dsc_0057.jpg);
    background-size: cover;
}
